.idea/misc.xml
.idea/theOther98Python.iml
__pycache__/main.cpython-37.pyc
__pycache__/other98_pb2.cpython-37.pyc
__pycache__/other98_pb2_grpc.cpython-37.pyc
__pycache__/protoc.cpython-37.pyc
__pycache__/util.cpython-37.pyc
.idea/inspectionProfiles/Project_Default.xml
__pycache__/client.cpython-37.pyc
testenv
